body {
  background-color: #f8f9fa;
}

header {
  background-color: purple; /* Warna ungu untuk bagian atas */
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: purple; /* Warna ungu untuk bagian bawah */
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}

.hewan-kurban {
  margin-top: 20px;
}

.card {
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Transisi halus dengan fungsi waktu */
}

.card:hover {
  transform: scale(1.05); /* Membesarkan kartu sedikit saat hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Bayangan lebih halus dan lebih besar saat hover */
}

.btn-primary {
  transition: transform 0.2s ease, background-color 0.3s ease; /* Transisi halus untuk tombol */
}

.btn-primary:hover {
  background-color: #0056b3; /* Warna latar belakang saat hover */
}

.btn-primary:active {
  transform: scale(0.95); /* Efek animasi saat tombol diklik */
}
